# Compiled binaries
*.exe
*.out
*.o
*.obj

# Archives
*.zip
*.tar
*.gz

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build folders
Debug/
Release/
build/

# Temporary / OS files
*.log
*.tmp
.DS_Store
Thumbs.db
